//variables don't use just here so you can copy #hex easy
$darkestGreen: #29442e;
$darkGreen: #386641;
$green: #6a994e;
$lime: #a7c957;
$beige: #f2e8cf;
$brick: #bc4749;

html {
  min-height: 100vh;
  background: #6a994e;
}

body {
  background: linear-gradient(#6a994e, #29442e);
  min-height: 100vh;

  & > div#__next {
    min-height: 100vh;
  }
}

.container-full-height {
  min-height: 100vh;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  .layout-header {
    flex: 0 0 auto;
    top: 0;
    z-index: 100;
    transition: box-shadow ease-in-out 0.25s;

    a.navbar-brand {
      color: #f2e8cf;
    }

    a.nav-link {
      color: #f2e8cf;
      padding-bottom: 4px;
      border-bottom: solid 4px transparent;
      transition: border-color ease-in-out 0.25s;

      &.active {
        border-color: #bc4749;
      }
    }

    &.sticky {
      position: sticky;
      background-color: #6a994e;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .layout-body {
    flex: 1 1 auto;
    padding: 0;
  }

  .layout-footer {
    flex: 0 0 auto;
    padding: 10px 0;
    border-top: 1px solid #6a994e;

    a {
      color: #6a994e;
    }

    .copyright {
      padding: 10px 15px;
      color: #6a994e;
    }
  }
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.carousel {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-caption {
  backdrop-filter: blur(1px);
  text-shadow: 1px 1px 1px #000000;
}

.carousel-inner {
  width: 100%;
}

// menu-dropdown

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: solid 2px #f2e8cf;
    color: #f2e8cf;
    border-radius: 90px;
    transition: all ease-in-out 0.125s;
    cursor: pointer;
  }

  .menu-trigger:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-trigger span {
    font-weight: 700;
    font-size: 14px;
    margin: 0 10px;
  }

  .menu-trigger svg {
    border-radius: 90px;
  }

  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 44px;
    right: 0;
    min-width: 200px;
    // box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-20px);
    transition: all ease-in-out 0.25s;
  }

  .menu.active {
    opacity: 1;
    transform: translateY(0);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    border-bottom: 1px solid #dddddd;
  }

  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
}

//Cards
.search-card {
  background-color: #a7c957;
}

.search-card a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $darkestGreen;
}

//Keen Slider

.navigation-wrapper {
  position: relative;
  // background-color: #386641;
  // padding: 25px 0px;
  border-radius: 5px;
  overflow: hidden;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

//fix for images in slider
.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select:focus {
  outline: none !important;
}

//Pages

//Property Page
.property-page {
  background: #a7c957;
  min-height: 100vh;
  color: #29442e;
}
