html {
  min-height: 100vh;
}

body {
  background: linear-gradient(#6a994e, #386641);
  min-height: 100vh;

  & > div#__next {
    min-height: 100vh;
  }
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .layout-header {
    flex: 0 0 auto;
    top: 0;
    z-index: 100;
    transition: box-shadow ease-in-out 0.25s;

    a.navbar-brand {
      color: #f2e8cf;
    }

    a.nav-link {
      color: #f2e8cf;
      padding-bottom: 4px;
      border-bottom: solid 4px transparent;
      transition: border-color ease-in-out 0.25s;

      &.active {
        border-color: #bc4749;
      }
    }

    &.sticky {
      position: sticky;
      background-color: #6a994e;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .layout-body {
    flex: 1 1 auto;
    padding: 30px 0;
  }

  .layout-footer {
    flex: 0 0 auto;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.25);

    a {
      color: #6a994e;
    }

    .copyright {
      padding: 10px 15px;
      color: #6a994e;
    }
  }
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}

.carousel {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-caption {
  backdrop-filter: blur(1px);
  text-shadow: 1px 1px 1px #000000;
}

.carousel-inner {
  width: 100%;
}

// menu-dropdown

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: solid 2px #f2e8cf;
    color: #f2e8cf;
    border-radius: 90px;
    transition: all ease-in-out 0.125s;
    cursor: pointer;
  }

  .menu-trigger:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-trigger span {
    font-weight: 700;
    font-size: 14px;
    margin: 0 10px;
  }

  .menu-trigger svg {
    border-radius: 90px;
  }

  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 44px;
    right: 0;
    min-width: 200px;
    // box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-20px);
    transition: all ease-in-out 0.25s;
  }

  .menu.active {
    opacity: 1;
    transform: translateY(0);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    border-bottom: 1px solid #dddddd;
  }

  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
}
